<div class="col-md-16">
  <!-- product area-->
  <div class="products-area">
    <div class="row">
      <div class="col-md-20">
        <div class="toolbar">
          <div class="view-mode">
            <p>HOME / {{vm.category.name}}</p>
          </div>
          <div class="result-short pull-right">
            <div class="dropdown">
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.sortBy}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                <li><a href="" data-ng-click="vm.sortThemes('Price - High to Low')">Price - High to Low</a></li>
                <li><a href="" data-ng-click="vm.sortThemes('Price - Low to High')">Price - Low to High</a></li>
                <li><a href="" data-ng-click="vm.sortThemes('Newest')">Newest</a></li>
                <li><a href="" data-ng-click="vm.sortThemes('Oldest')">Oldest</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" data-ng-repeat="theme in vm.themes">
        <!-- Single Item  -->
        <div class="single-item">
          <div class="single-product fix">
            <div class="s-product-img">
              <a href="/themes/{{theme.id}}" target="_blank"><img data-ng-src="{{theme.image}}" alt="{{vm.theme.name}} theme image"></a>
            </div>
            <!-- Single product Title-->
            <div class="product-title">
              <a href="/themes/{{theme.id}}" target="_blank">{{theme.name}}</a>
            </div>
            <small>{{theme.publisher}}</small>
            <span class="special">{{theme.framework}}</span>
            <!-- Product price -->
            <div class="price-box">
              <p class="special-price"><span class="price">{{vm.formatPrice(theme.price)}}</span></p>
            </div>
            <!--/ Product price -->
          </div>
        </div>
        <!-- Single Item -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-20">
        <div class="pagination-area">
          <div class="paginations">
            <div class="row">
              <div class="col-md-20 text-center">
                <a href="" data-ng-click="vm.loadMore(vm.themes.length)" data-ng-if="vm.showLoadMore">Load More</a>
                <span data-ng-if="!vm.showLoadMore">No more themes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pagination End-->
  </div>
  <!--/ product area-->
</div>
</div>
