<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item"><a href="/" class="nav-link">All</a></li>
        <li class="nav-item" data-ng-repeat="category in vm.categories"><a class="nav-link" href="/categories/{{category.id}}">{{category.name}}</a></li>
      </ul>
    </div>
    <!--/col-->
    <div class="col-md-9 col-lg-10 main">
      <ol class="breadcrumb">
        <div data-ng-if="vm.searchView">
          <li class="breadcrumb-item">Search results <i class="fa fa-times" data-ng-click="vm.cancelSearch()"></i></li>
        </div>
        <div data-ng-if="!vm.searchView">
          <li class="breadcrumb-item">Search results</li>
        </div>
        <li class="pull-right">
          Sort by:
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-sm" uib-dropdown-toggle ng-disabled="disabled">
              {{vm.sortBy}}<span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="" data-ng-click="vm.sortThemes('Price - High to Low')">Price - High to Low</a>
              <a class="dropdown-item" href="" data-ng-click="vm.sortThemes('Price - Low to High')">Price - Low to High</a>
              <a class="dropdown-item" href="" data-ng-click="vm.sortThemes('Newest')">Newest</a>
              <a class="dropdown-item" href="" data-ng-click="vm.sortThemes('Oldest')">Oldest</a>
            </div>
          </div>
        </li>
      </ol>
      <!--toggle sidebar button-->
      <p class="hidden-md-up">
        <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
      </p>

      <div class="row">
        <div class="col-lg-3 col-md-4" data-ng-repeat="theme in vm.themes">
          <div class="theme-index-page card">
            <a href="/themes/{{theme.id}}">
              <img class="card-img-top img-responsive" data-ng-src="{{theme.image}}" alt="{{vm.theme.name}} theme image">
            </a>
            <div class="card-block">
              <h4 class="card-title"><a href="/themes/{{theme.id}}">{{theme.name}}</a></h4>
              <p class="card-text pull-left">{{theme.publisher}}</p>
              <p class="card-text pull-right">{{vm.formatPrice(theme.price)}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/main col-->
  </div>
</div>
