<div class="col-lg-20">
  <div class="page-header">
    <h1>Edit <%= @theme.name %></h1>
  </div>
  <%= render "form.html", changeset: @changeset,
                          action: theme_path(@conn, :update, @theme),
                          theme: @theme,
                          categories: @categories %>
</div>
