<div class="col-lg-20">
  <div class="page-header">
    <h1>Add a theme</h1>
  </div>
  <%= render "form.html", changeset: @changeset,
                          action: theme_path(@conn, :create),
                          categories: @categories %>
</div>

